@()

@main("DevConferences - Conferences and Meetups for developers") {

<div class="container">
    <h1 class="header center pink-text text-darken-2">DevConferences</h1>
    <div class="row center">
        <h5 class="header col s12 light">Conferences and Meetups for developers</h5>
    </div>
    <div class="row center">
        <a class="waves-effect waves-light btn pink darken-2" href="https://twitter.com/DevConferences">Coming back soon... Stay tuned <i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>
</div>

}
